@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .rounded-lg {
      @apply rounded p-3;
  }
}

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; /* background-color: #000000!important; */
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  }

ul{
  list-style: none!important;
}

a {
  color: inherit;
  text-decoration: none;
}
.imgc {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img {
  background-repeat: no-repeat;
  background-size: cover;
}
input {
  border: 0.1rem solid #d1d1d1;
}

::placeholder {
  color: #d1d1d1;
}

/* button */
.subscribe-btn:hover {
  color: #fff !important;
  background-position: right center;
}
.subscribe-btn {
  border-radius: 5rem;
  background-image: linear-gradient(
    16deg,
    #ff005a 0%,
    #ff5d2d 64%,
    #ffba00 100%
  );
  color: #fff;
  font-size: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  text-transform: uppercase;
  box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
}
.slick-next {
  display: none!important
}















.single-popular-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0,0%,100%,.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

.single-popular-item:hover .overlay {
  transform: scale(1);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*  */


.testimony-section .overlay {
  width: 45%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(45deg,#e57920,#fdd8a0);
}
@media (max-width: 991.98px){
  .testimony-section .overlay {
    width: 100%;
    height: 50%;
}
}