@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #ecf0f1!important;
}
ul{
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.nav-link {
  position: relative;
}
.nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #f8dd62;
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover span:before {
  visibility: visible;
  transform: scaleX(1);
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width: 767px) {
  .dropdown:hover .dropdown-content {
    display: none;
  }
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overlay-bg {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.image-thumb .img-fluid {
  transition: all 0.5s;
  box-sizing: border-box;
  max-width: 100%;
}

.image-thumb:hover .img-fluid {
  transform: scale(1.3) rotate(5deg);
  transition: all 0.5s;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid-left{
  height: 550px;
}
.img-fluid-1{
  height: 275px;
}
.img-fluid-2{
  height: 275px;
}
@media (max-width:1024){
  .img-fluid-left{
    height: 400px;
  }
  .img-fluid-1{
    height: 400px;
  }
  .img-fluid-2{
    height: 400px;
  }
}

